@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
:root{
    --main-color:#EC994B;
    --background-color:#15133C;
    --font-color:#F1EEE9;
    --secondary-color:#73777B;
}
body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

#topper{
    width: 100%;
    height: 20vw;
}

#topper h1{
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    text-align: center;
}

#footer{
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
}
#score{
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 25%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.game{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
}
.game img{
    width: clamp(4.375rem, 3.375rem + 5vw, 9.375rem);
    flex: 33.33%;
    padding: 16px;
    cursor: pointer;
}
.rock,.paper,.scissors{
    transition: 0.25s;
}
.rock:hover{
    filter: drop-shadow(0px 0px 15px #f26651);
    color:#f26651;
}
.paper:hover{
    filter: drop-shadow(0px 0px 15px #63bdba);
    color: #63bdba;
}
.scissors:hover{
    filter: drop-shadow(0px 0px 15px #f6bd4a);
    color:#f6bd4a ;
}
#result{
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#result div{
    position: absolute;
    white-space: nowrap;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.animation{
    animation-name: cssAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    0%{
        transform: translate(-50%, 0%);
        opacity: 0%;
    }
    50%{
        transform: translate(-50%, -50%);
        opacity: 100%;
    }
    100%{
        transform: translate(-50%, -100%);
        opacity: 0%;
    }
  }